body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #EAEAEA;
}


/* Global */

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container2 {
  width: 62%;
  margin: auto;
  overflow: hidden;
}

.container3 {
  width: 69%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
}


/* Header */

header {
  background: #2B3B4B;
  color: white;
  min-height: 43px;
  padding-top: 15px;
}

header a {
  color: white;
  text-decoration: none;
}

header li {
  margin-top: 5px;
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #brand {
  float: left;
  margin-top: -5px;
  padding: 2px 20px 0 0;
}

header #brand h1 {
  margin: 0;
}

header #searchBtn {
  float: right;
}

header #searchBtn {
  margin: 0;
}

header li:hover {
  text-decoration: underline;
  font-weight: bold;
}

#searchBtn form {
  padding-right: 280px;
}

#searchBtn input[type="text"] {
  padding: 5px 30px 6px 10px;
  background-color: #fafafa;
  border-radius: 3px;
}

#button1 {
  height: 30px;
  background: #1f8ecd;
  color: #f2f2f2;
}


/* Summoner profile */

#summoner {
  /*background-color: yellow;*/
  margin-top: 50px;
  margin-left: 200px;
}

#profileIcon {
  position: absolute;
  width: 100px;
  margin-left: -110px;
  margin-top: 10px;
  z-index: -1;
}

#name {
  /*background-color: red;*/
  float: right;
  margin-right: 780px;
  margin-top: -10px;
}

#statBtn {
  margin-top: 10px;
  border: 1px solid #1a78ae;
  background: #1f8ecd;
  color: #f2f2f2;
  padding: 10px 14px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}

.showBtn:hover {
  border-color: #b5bcbc;
}

.showBtn {
  margin-top: 10px;
  border: 1px solid #ccd1d1;
  background: #f2f2f2;
  color: #242929;
  padding: 10px 14px;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
}


/* Second Header */

#menu {
  margin-top: 20px;
  border-bottom: 1px solid #c6cbcb;
}

#menu a {
  color: #141717;
  text-decoration: none;
  /*border-bottom: 2px solid red;*/
  /*padding: 0 0 10px 0;*/
}

#menu li {
  float: left;
  display: block;
  min-width: 70px;
  height: 39px;
  border: 1px solid #c6cbcb;
  padding-left: 6px;
  padding-right: 6px;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  border-bottom: none;
  border-right: 1px solid #e8eaea;
}

#menu li.mastery {
  border-right: 1px solid #c6cbcb;
}

#menu-items li.current {
  background: #e8eaea;
}

#menu li:hover {
  background: #E5E9E9;
}


/* Summoner Solo Rank */

#layoutContent {
  /*overflow: hidden;*/
  background-color: #e8eaea;
}

#box {
  float: left;
  margin-top: 30px;
  border: 1px solid #cdd2d2;
  box-shadow: 0 1px #dcdfdf;
  background: #f2f2f2;
  border-radius: 1px;
  overflow: hidden;
}

#soloRank {
  width: 120px;
  height: 120px;
  margin-left: 7px;
}

#rankTier {
  float: right;
  margin-top: 20px;
  margin-left: 10px;
  padding: 0 38px 0 0;
}

.rankDetails {
  color: #1f8ecd;
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
}

#rankInfo1 {
  float: left;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #555e5e;
  font-weight: bold;
}

.rankInfo {
  float: left;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #879292;
  margin-right: 3px;
}


/* Summoner Flex Rank */

#flexContent {
  background-color: red;
}

#boxFlex {
  background-color: gold;
  border-top: 1px solid #cdd2d2;
}

#flexRank {
  width: 50px;
  height: 50px;
  float: left;
  padding: 5px 0 5px 10px;
}

#rankTierFlex {
  float: left;
  margin-top: 13px;
  margin-left: 8px;
}

#leaguelp {
  color: #555e5e;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
}

#flex5s {
  float: left;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  margin: 13px 0 0 20px;
}

#flexRank5 {
  color: #555e5e;
  font-weight: bold;
}

#teamName {
  color: #879292;
}

#winLose {
  float: left;
  font-size: 11px;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  color: #879292;
  margin: 13px 3px 0 14px;
}

#champSeason {
  /*position: relative;*/
  float: right;
  margin-top: 10px;
  padding: 50px 0px 50px 50px;
  border: 1px solid #cdd2d2;
  box-shadow: 0 1px #dcdfdf;
  background: #f2f2f2;
  border-radius: 1px;
}

#seasons a {
  text-decoration: none;
}

#seasons li{
  float: left;
  display: inline;
}

/* Summoner Match History */

#main-content {
  margin-top: 30px;
  /*float: right;*/
}

.headerBox {
  border: 1px solid #cdd2d2;
  box-shadow: 0 1px #dcdfdf;
  background: #f2f2f2;
  border-radius: 2px;
}

#main-content-nav {
  position: relative;
  border-bottom: none;
  overflow: hidden;
  height: 34px;
}

#main-content-nav li {
  float: left;
  padding-left: 20px;
  text-decoration: none;
  display: inline;
}

#main-content-nav a {
  text-decoration: none;
  font-size: 12px;
  line-height: 36px;
  padding: 0 5px 0 5px;
  color: #555e5e;
}

#main-content-nav li.active a {
  color: #1f8ecd;
  font-weight: bold;
  border-bottom: 2px solid #1f8ecd;
  padding: 0 0 7px 0;
}

#main-content-nav li:hover:not(.active) a {
  color: #141717;
}

#arrow {
  float: right;
  background: url("../img/dropDownArrow.png") no-repeat;
  width: 5px;
  height: 30px;
  background-position: center;
  cursor: pointer;
  line-height: 36px;
}

#searchCont {
  float: right;
  height: 34px;
  border-left: 1px solid #cdd2d2;
}

#searchInput input[type="text"] {
  float: left;
  line-height: 36px;
  border: 0;
  padding: 0 0 0 10px;
  width: 120px;
  color: #999;
  font-size: 13px;
  font-family: inherit;
}

#searchIcon {
  float: right;
  background: url("../img/search.png") no-repeat;
  width: 15px;
  background-position: center;
  cursor: pointer;
  margin-top: 2px;
  padding: 15px 15px 15px 0;
}


/* Summoner Matches */

#box3 {
  font-size: 12px;
  color: #666;
  border: 1px solid #cdd2d2;
  box-shadow: 0 1px #dcdfdf;
  background: #f2f2f2;
  border-radius: 2px;
  border-top: none;
  padding: 0 0 150px 0;
}

#matches {
  float: left;
  padding: 0 15px 105px 0;
  border-right: 1px solid #cdd2d2;
}

#losesWins {
  margin-left: 26px;
  margin-top: 16px;
  background-color: red;
}

#chart {
  background-color: green;
}

#recentPlayed {
  float: left;
  padding: 16px 25px 5px 0;
  border-right: 1px solid #cdd2d2;
}

#pics {
  float: left;
  margin-left: 16px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.picss {
  float: left;
  margin-left: 16px;
  margin-right: 10px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.name {
  margin: 0px 20px 12px 0;
  font-size: 14px;
  color: #333;
}

#champName {
  float: left;
  margin: 0px 30px 12px 10px;
  font-size: 14px;
  color: #333;
}

.champStats {
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  color: #333;
}

#champStats {
  font-weight: bold;
  font-size: 11px;
  line-height: 14px;
  color: #333;
}

.champWL {
  font-weight: lighter;
  font-size: 11px;
  line-height: 14px;
  color: #333;
}

#kda {
  margin-left: 15px;
}

#kdag {
  color: #e19205;
}

#kdaw {
  color: #c6443e;
}

#kdal {
  color: #2daf7f;
}

#prefPos {
  float: left;
  /*background-color: gold;*/
}

#pos {
  padding: 16px 0 14px 20px;
  line-height: 14px;
  font-size: 12px;
  color: #666;
  height: 14px;
}

#posWin {
  margin-top: 10px;
  margin-left: 30px;
}

#error {
  display: block;
  padding: 120px 0 30px 0px;
  text-align: center;
  background: url("../img/error.png") 50% 50px no-repeat;
  font-size: 16px;
  color: #555e5e;
  /*display: none;*/
}
